div(style="width: 50%; height: 90%; float: left")
    canvas#up.arrow
    canvas#left.arrow
    canvas#right.arrow
    canvas#down.arrow
    
div(style="width: 50%; height: 90%; float: left")
    canvas#action-a.action
    canvas#action-b.action
