.arrow {
    width: 33%;
    height: 33%;
    background-color: blue;
}

#up, #down {
    display: block;
    margin-left: 33%;
}

#right {
    margin-left: 33%;
}

.action {
    width: 20%;
    height: 25%;
    margin-top: 30%;
    margin-left: 25%;
    background-color: green;
}
